<div
	class='card border-left-secondary shadow h-100 pt-2 mb-4'
	data-bs-toggle='modal'
	data-bs-target='#exampleModal'
>
	<div class='col mr-2'>
		<div class='row'>
			<div
				class='col-6 text-xs font-weight-bold text-primary text-uppercase mb-1'
			>
				#TaskID: Task Name</div>
			<div
				class='col-6 text-right text-xs font-weight-bold text-primary text-uppercase mb-1'
			>
				Deadline</div>
		</div>
		<div class='mb-0 font-weight-bold text-gray-800'>Task Description</div>
		<div class='row'>
			<div class='mt-0 col-6'>
				<i class='fas fa-rocket' style='color: #ff0000;'></i>
			</div>
			<div class='mt-0 col-6'>
				<div class='d-flex justify-content-end'>
					<img
						height='30px'
						width='30px'
						class='mx-1 img-profile rounded-circle'
						src='img/undraw_profile.svg'
					/>
					<img
						height='30px'
						width='30px'
						class='mx-1 img-profile rounded-circle'
						src='img/undraw_profile_1.svg'
					/>
				</div>
			</div>
		</div>
	</div>
</div>