<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" rel="stylesheet" />
    <title>JobFlow</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="homepage.html">Dashboard</a>
      <a href="employees.html">Employees</a>
      <a href="login.html">Login</a>
    </div>
    <header>
      <h1>JobFlow</h1>
      <h2>
        Welcome to JobFlow, an application for businesses to log their
        timesheets
      </h2>
      <button>Get Started</button>
    </header>
  </body>
</html>
