<link href="css/style.css" rel="stylesheet" />
<title>JobFlow</title>

<!-- THIS GOES INTO THE MAIN HANDLEBARS /login directory needed-->
<div class="container">
  <header>
    <div class="login">
      <h1>Welcome to JobFlow</h1>

      <form id="login-form">
        <div class="form-group">
          <label for="Username">Username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            name="Username"
            aria-describedby="UsernameHelp"
            placeholder="Enter Username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input
            type="password"
            id="password"
            class="form-control"
            name="password"
            placeholder="Enter Password"
            autocomplete="on"
          />
        </div>

        <div class="login-buttons">
          <button type="submit" class="btn btn-primary" name="submit">
            Login
          </button>
          <button
            type="sign-up"
            id="sign-up"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            <!--Redirects to signup directory page-->
            <a href="/signup">Sign Up</a>
          </button>
        </div>
      </form>
    </div>
  </header>
</div>

<script src="./js/login.js"></script>