
<ul
	class='navbar-nav bg-gradient-primary sidebar sidebar-dark accordion'
	id='accordionSidebar'
>
	<!-- Sidebar - Brand -->
	<a
		class='sidebar-brand d-flex align-items-center justify-content-center'
		href='/tasks'
	>
		<div class='sidebar-brand-icon'>
			<i class='fa-solid fa-table-columns'></i>
			<!-- <span class="fa-solid fa-table-columns"></span> -->
		</div>
		<div class='sidebar-brand-text mx-3'>JOBFLOW </div>
	</a>

	<!-- Divider -->
	<hr class='sidebar-divider my-0' />

	<!-- Nav Item - Charts -->
	<li class='nav-item'>
		<a class='nav-link' href='/tasks'>
			<i class='fas fa-fw fa-chart-area'></i>
			<span>Tasks</span></a>
	</li>
	<hr class='sidebar-divider my-0' />

	<!-- Nav Item - Tables -->
	<li class='nav-item'>
		<a class='nav-link'>
			<i class='fas fa-fw fa-table'></i>
			<span>Statistics</span></a>
	</li>

	<!-- Divider -->
	<hr class='sidebar-divider d-none d-md-block' />
</ul>

<!-- Content Wrapper -->
<div id='content-wrapper' class='d-flex flex-column'>

	<!-- Main Content -->
	<div id='content'>

		<!-- Topbar -->
		<nav
			class='navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow'
		>

			<!-- Page Heading -->
			<div class='d-sm-flex align-items-center justify-content-between mb-4'>
				<h1 class='h3 mt-5 text-gray-800'>JOBFLOW</h1>
			</div>
			<!-- Topbar Navbar -->
			<ul class='navbar-nav ml-auto'>

				{{!-- nav divider --}}
				<div class='topbar-divider d-none d-sm-block'></div>

				{{!-- nav-user-dropdown --}}
				<div class="btn-group" id = "nav-user-dropdown">
					<button class="btn rounded-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						<span class='mr-2 d-none d-lg-inline text-gray-600 small'>Sophia Martinez</span>
						<img
						height="30px"
						width="30px"
						class="mx-1 img-profile rounded-circle"
						src="../img/undraw_profile_1.svg"
						/>						
					</button>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-sm-end">
						<li><button class="dropdown-item" type="button">Profile</button></li>
						<li><button class="dropdown-item" type="button">Logout</button></li>
					</ul>
				</div>

			</ul>

		</nav>
		<!-- End of Topbar -->

		<!-- Begin Page Content -->
		<div class='container-fluid'>

			<!-- Content Row -->
			<div class='row' id='cardGroup'>
				<!-- Card open task -->
				<div class='col-xl-4 col-lg-4'>
					<div class='card shadow mb-4'>
						<!-- Card Header - Dropdown -->
						<div
							class='card-header py-3 d-flex flex-row align-items-center justify-content-between'
						>
							<h6 class='m-0 font-weight-bold text-primary'>Open Task</h6>
							<button
								class='close addCard'
								type='button'
								aria-label='Add'
								data-bs-toggle='modal'
								data-bs-target='#exampleModal'
							>
								<span aria-hidden='true'>+</span>
							</button>
						</div>
						<!-- Card Body -->
						<div class='card-body' id='cardOpenTask'>
							<!-- task one -->

							{{#each tasks as |task|}}
								{{#if (compare task.taskStatus.id '===' 1)}}
									{{> task-details}}
								{{/if}}
							{{/each}}
						</div>
					</div>
				</div>
				<!-- Card In Progress -->
				<div class='col-xl-4 col-lg-4'>
					<div class='card shadow mb-4'>
						<!-- Card Header - Dropdown -->
						<div
							class='card-header py-3 d-flex flex-row align-items-center justify-content-between'
						>
							<h6 class='m-0 font-weight-bold text-primary'>In Progress</h6>
							{{!-- <button
								class='close'
								type='button'
								aria-label='Add'
								data-bs-toggle='modal'
								data-bs-target='#exampleModal'
							>
								<span aria-hidden='true'>+</span>
							</button> --}}
						</div>
						<!-- Card Body -->
						<div class='card-body' id='cardInProgress'>
							{{#each tasks as |task|}}
								{{#if (compare task.taskStatus.id '===' 2)}}
									{{> task-details}}
								{{/if}}
							{{/each}}
						</div>
					</div>
				</div>
				<!-- Card Completed -->
				<div class='col-xl-4 col-lg-4'>
					<div class='card shadow mb-4'>
						<!-- Card Header - Dropdown -->
						<div
							class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
							<h6 class="m-0 font-weight-bold text-primary">Completed</h6>    
							{{!-- <button class="close" type="button" aria-label="Add" data-bs-toggle="modal" data-bs-target="#exampleModal">
								<span aria-hidden="true">+</span>
							</button>                                                    --}}
						</div>
						<!-- Card Body -->
						<div class="card-body" id = "cardCompleted">
							{{#each tasks as |task|}}
								{{#if (compare task.taskStatus.id '===' 3)}}
									{{> task-details}}
								{{/if}}
							{{/each}}
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- End of Main Content -->

	<!-- modael -->	
	{{> task-modal-details}}

	<!-- Footer -->
	<footer class='sticky-footer bg-white'>
		<div class='container my-auto'>
			<div class='copyright text-center my-auto'>
				<span>Copyright &copy; JOBFLOW 2023</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->

</div>

<script id="modal-template" type="text/x-handlebars-template">
  <!-- Include the content of the modal template here -->
  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-xl modal-dialog-scrollable"
    style="height: 100hv;"
  >
    <div class="modal-content">
      <div class="modal-header">
        <!-- Task ID -->
        <h5 class="modal-title fs-5" id="exampleModalLabel">Task ID: {{id}}</h5>

        <button
          class="close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Task Title -->
        <!-- <div class="text-lg font-weight-bold text-primary text-uppercase mb-3" style="display:block;">
                            Task Name Task Name Task Name Task Name Task Name Task Name Task Name
                        </div> -->
        <input
          class="fs-4 form-control text-primary px-0"
          type="text"
          style="border: none;"
          value={{task_name}}
          aria-label="default input example"
        />

        <div class="row">
          <!-- Task Priority -->
          <div class="col-2 d-flex flex-column mb-3">
            <label for="members" class="form-label">Priority</label>
            <i class="fas fa-rocket" style="color: #ff0000;"></i>

          </div>

          <!-- Task Status -->
          <div class="col-2 d-flex flex-column mb-3">
            <label for="members" class="form-label">Task Status</label>
            <!-- <i class="fa-solid fa-rocket" style="color: #ffb005;"></i> -->
            <span class="badge text-bg-success">Completed</span>

            <!-- <div class="card bg-success text-white shadow">
                                    <div class="card-body">
                                        Primary
                                    </div>
                                </div> -->
          </div>
        </div>

        <div class="d-flex flex-row">
          <!-- Task Members -->
          <div class="d-flex flex-column mr-4">
            <label for="members" class="form-label">Members</label>
            <div id="members">
              <!-- <img height="50px" width="50px" class="mx-1 img-profile rounded-circle" src="img/undraw_profile_3.svg"> -->
              <img
                height="50px"
                width="50px"
                class="mx-1 img-profile rounded-circle"
                src="img/undraw_profile_2.svg"
              />
              <botton
                class="text-lg btn btn-circle btn-secondary"
                style="height: 50px; width: 50px;"
              >
                <i class="fa-solid fa-plus fa-xl" style="color: #fffdfd;"></i>
              </botton>
            </div>
          </div>
          <!-- Task Deadline -->
          <div class="d-flex flex-column">
            <label class="form-label">Deadline</label>
            <p
              class="text-success"
              style="line-height: 50px;"
            >15/December/2023</p>
          </div>
        </div>

        <!-- Task Description -->
        <div class="mb-3 my-3">
          <label
            for="exampleFormControlTextarea1"
            class="form-label"
          >Description</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>

        <!-- Additional space filler, to be completed -->
        <div class="card-body border border-2 my-3">
          <p class="fw-bold">Activity</p>
          <div class="text-center">
            <img
              class="img-fluid px-3 px-sm-4 mt-3 mb-4"
              style="width: 25rem;"
              src="img/undraw_posting_photo.svg"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >Delete</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >Save changes</button>
      </div>
    </div>
  </div>
</div>
</script>

