<!--DELETE IF NOT NEEDED
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" rel="stylesheet" />
    <title>JobFlow</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="homepage.html">Dashboard</a>
      <a href="employees.html">Employees</a>
      <a href="login.html">Login</a>
    </div>
    <header>
      <div class="add-job">
        <h1>Employee Name</h1>
        <p>Date (datepicker)</p>
        <h2>Job Name</h2>
        <input></input>
        <p>Hours</p>
        <input></input>
        <p>Job Description:</p>
        <input></input>
        <p>Materials</p>
        <input></input>
        <button>Submit</button>
      </div>
    </header>
  </body>
</html>
-->