body {
  margin: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  background-color: #d6d6d6;
  color: #000000;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #000;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.nav-bar a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Employee section */
.employee-list button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.employee-list button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.employee-list li {
  list-style-type: none;
  margin-bottom: 10px;
}

/* Login section */
.login h1 {
  text-align: center;
}

.login-form input {
  display: block;
  margin-bottom: 10px;
}

.login button {
  background-color: #000;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.login a {
  color: #fff;
  text-decoration: none;
}

.login a:hover {
  color: #000000;
  text-decoration: none;
}

.login button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

/* Signup section */
.signup h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup-form input {
  display: block;
  margin-bottom: 10px;
}

.signup button {
  background-color: #000;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.signup button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.signup input {
  margin: 5px;
}

#wrapper {
  height: 200px;
  width: 500px;
}
