<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="css/style.css" rel="stylesheet" />
    <title>JobFlow</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="homepage.html">Dashboard</a>
      <a href="employees.html">Employees</a>
      <a href="login.html">Login</a>
    </div>
    <header>
      <div class="login">
        <h1>Login</h1>
        <form id="login-form">
          <p>Username:</p>
          <input type="text" name="username" id="email" />
          <p>Password:</p>
          <input type="password" name="password" id="password" />
          <div class="login-buttons">
            <button id="login">Login</button>
            <button id="sign-up">Sign Up</button>
          </div>
        </form>
      </div>
    </header>
  </body>
</html>