<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/style.css" rel="stylesheet" />
    <title>JobFlow</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="homepage.html">Dashboard</a>
      <a href="employees.html">Employees</a>
      <a href="login.html">Login</a>
    </div>

    <header>
      <div class="signup">
        <h1>JobFlow</h1>
        <form id="signup">
          <h2>Sign Up</h2>

          <input type="text" name="username" placeholder="Username" required />
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
          <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            required
          />
          <button type="submit" name="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="insert path here">Login</a></p>
      </div>
    </header>
  </body>
</html>